/*
Copyright (C) 2018 Jean-René Menu This program is free software; you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation; either version 2 of the License, or (at your option) any later version. This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details. You should have received a copy of the GNU General Public License along with this program; if not, write to the Free Software Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA 02111-1307, USA.
ENG : https://www.gnu.org/licenses/gpl.txt
FR : http://www.cecill.info/licences/Licence_CeCILL_V2-fr.html
*/


// CONSTANTES

$dark_green : #03885f;
$green : #51b692;
$light_green : #86ccb3;
$white : #ffffff;
$orange : #f2982c;
$grey : #e5e5e5;
$light_grey : #f4f4f4;


$main_text : #000000;
$secondary_text : #898989;

//MIXINS

@mixin border_radius($radius) {
	-webkit-border-radius: $radius;
	border-radius: $radius;
}


//EXTENDS

.transitions {
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}


.hide_desktop {
	display: block;
	@media (min-width: 768px) {
		display: none !important;
	}
}
.hide_mobile {
	display: block;
	@media (max-width: 767px) {
		display: none !important;
	}
}

html, body {
	width: 100vw;
	height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
}

body {
	box-sizing: border-box;
	font-family: 'Arial', sans-serif;
	font-size: 14px;
	color: $main_text;

}

/* HEADER */

nav {
	position: relative;
	float: left;
	width: 100%;
	height:70px;
	background-color: $green;
	color: $white;

	&.login {

		@media (max-width: 767px) {
			height: auto;
		}

		.logo {
			img {
				@media (max-width: 767px) {
					width: 80px;
					height: 80px;
					margin-top: calc(15vh - 40px);
				}
			}
			@media (max-width: 767px) {
				max-width:none;
				background-color:$green;
				height:auto;
				width:100%;
			}
		}

		.no_login {
			@media (max-width: 767px) {
				position: relative;
				float: left;
				width: 100%;
				height: auto;
				line-height: 50px;
				display: inline-block;
			}

		}

	}

	@media (max-width: 767px) {
		height:60px;
	}


	.logo {
		position: relative;
		float: left;
		display: inline-block;
		width: 100%;
		height: 70px;
		max-width: 250px;
		background-color: $white;
		padding: 15px;
		text-align: center;

		@media (max-width: 767px) {
			width: 60px;
			height: 60px;
			padding: 10px;
		}

		img {
			position: relative;
			width: auto;
			height: 50px;
			margin: auto;

			@media (max-width: 767px) {
				height: 40px;
				width: 40px;
			}

		}

	}

	.no_login {
		position: absolute;
		float: left;
		width: 100%;
		z-index: 2;
		text-align: center;
		color: $white;
		height: 70px;
		line-height: 70px;
		font-size:  16px;

	}

	.logged_in {
		position: relative;
		float: left;
		width: calc(100% - 250px);
		text-align: center;
		color: $white;
		height: 70px;
		line-height: 70px;
		font-size:  16px;

		@media (max-width: 767px) {
			width: calc(100% - 60px);
			line-height: 60px;
		}

		.user {
			position: relative;
			float: left;
			padding: 15px;
			line-height: 1.2;
			text-align: left;
			color: $white;
			font-size: 16px;
			p {
				margin: 0;
			}

			@media (max-width: 767px) {
				display:none;
			}
		}

		.user_infos {
			position: relative;
			float: right;
			display: inline-block;

			@media (max-width: 767px) {
				width: auto;
			}

			.resa_nav, .account_nav, .logout_nav, .info_nav {
				position: relative;
				float: left;
				border-left: 1px solid $light_green;
				height: 70px;
				text-align: center;
				padding: 0 20px;
				color: $white;
				font-size: 16px;

				&:first-child {
					border-left:0;
				}

				&:hover {
					text-decoration : none;
					background:$dark_green;
				}

				&.active {
					background:$dark_green;
				}

				@media (max-width: 767px) {
					height:60px;
					padding: 0 15px;
				}

				@media (max-width: 359px) {
					padding: 0 5px;
				}


			}
			.logout_nav {
				background: url(../img/logout.svg) center no-repeat;
				background-size: 30px;
				padding: 10px;
				width: 70px;
				height: 70px;

				@media (max-width: 767px) {
					width: 60px;
					height: 60px;
					background-size: 20px;
				}

				&:hover, &.active {
					background: $dark_green url(../img/logout.svg) center no-repeat;
					background-size: 30px;

					@media (max-width: 767px) {
						background-size: 20px;
					}
				}
			}
		}


	}
}

.login_form {
	position: relative;
	width: 100%;
	max-width: 1024px;
	margin: 200px auto 0;

	@media (max-width: 768px) {
		float: left;

		margin: 40px auto 0;
	}

	label {
		position: relative;
		float: left;
		display: inline-block;
		font-size: 14px;
		font-weight: 400;
		padding: 0;
	}

	input[type="text"], input[type="password"] {
		position: relative;
		float: left;
		display: inline-block;
		@include border_radius(3px);
		outline: none;
		border: 1px solid $secondary_text;
		background: $white;
		padding: 10px;
		margin-bottom: 20px;
	}

	input[type="submit"] {
		position: relative;
		float: left;
		display: inline-block;
		background: $green;
		@include border_radius(25px);
		padding:10px 0;
		outline: none;
		border:none;
		color: $white;
		font-size: 16px;
	}

	.forgot_passwd {
		position: relative;
		float: left;
		display: inline-block;
		text-align: center;
		margin-top: 20px;
		color: $secondary_text !important;
		text-decoration: underline;
		font-weight: 400 !important;
	}
}

.logged_in_choice {
	position: relative;
	width: 100%;
	max-width: 1024px;
	margin: 200px auto 0;

	@media (max-width: 767px) {
		margin: 100px auto 0;
	}

	.logged_in_box {
		position: relative;
		float: left;
		display: inline-block;

		h3 {
			position: relative;
			float: left;
			width: 100%;
			margin:0;
			font-size: 24px;
			font-weight: 700;

			@media (max-width: 767px) {
				text-align: center;
			}
		}

		.book_choice {
			position: relative;
			float: left;
			width: 100%;
			border: 1px solid $secondary_text;
			background-color: $white;
			@include border_radius(5px);
			padding: 10px;
			list-style: none;
			height: 40px;
			overflow: hidden;
			margin-top: 20px;
			cursor: pointer;
			@extend .transitions;

				@media (max-width: 767px)		 {
					margin-top: 30px;
				}

			&.open {
				height: auto;
				@extend .transitions;
			}


			span.selected {
				position: relative;
				float: left;
				width: 100%;
				height: 20px;
				color: $secondary_text;
				font-style: italic;
				font-size: 16px;
				&::after {
					position: absolute;
					top: -10px;
					right: 0;
					width: 40px;
					height: 40px;
					content:"";
					display: block;
					background: url(../img/dropdown.gif) center no-repeat;
					background-size: 20px;
				}
			}

			li {
				display: inline-block;
				position: relative;
				float: left;
				width: 100%;
				height: 40px;
				padding: 10px 0;

				&:first-child {
					margin-top:10px;
				}
			}
		}

		a {
			position: relative;
			float: left;
			display: inline-block;
			margin-top: 20px;
			background: $green;
			@include border_radius(25px);
			padding:10px 0;
			color: $white;
			font-size: 16px;
			text-align: center;
				@media (max-width: 767px)		 {
					margin-top: 30px;
				}
			}
	}
}

/* HEAD  */

.head {
	position: relative;
	float: left;
	display: inline-block;
	width: 100%;
	height: 70px;
	background:$dark_green;
	color: $white;

	@media (max-width: 767px) {
		height: auto;
	}

	.head_container {
		position: relative;
		display: flex;
		width: 100%;
		max-width: 1024px;
		margin: 0 auto;
	    align-items: center;
	    height: 70px;
	    flex-direction: row;
	    justify-content: center;

	    @media (max-width: 767px) {
	    	height: auto;
	    	flex-direction: column;
	    }

	    &.account {
	    	@media(max-width: 767px) {
	    		flex-direction: row;
	    		height: 50px;
	    	}
	    }

		/* RESERVATIONS */

		.zone_actuelle {
			position: relative;
			float: left;
			max-width: 250px;
			border: 1px solid $secondary_text;
			background-color: $white;
			@include border_radius(5px);
			padding: 10px;
			list-style: none;
			height: 40px;
			overflow: hidden;
			margin-top: 15px;
			cursor: pointer;
			@extend .transitions;
			z-index: 10;
			flex:1;

			@media (max-width: 767px) {
				max-width: none;
			}

			&.open {
				height: auto;
				@extend .transitions;
			}
			span {
				position: relative;
				float: left;
				width: 100%;
				height: 20px;
				color: $secondary_text;
				font-style: italic;
				font-size: 16px;
				&::after {
					position: absolute;
					top: -10px;
					right: 0;
					width: 40px;
					height: 40px;
					content:"";
					display: block;
					background: url(../img/dropdown.gif) center no-repeat;
					background-size: 20px;
				}
			}
			li {
				display: inline-block;
				position: relative;
				float: left;
				color: $main_text;
				width: 100%;
				height: 40px;
				padding: 10px 0;

				&:first-child {
					margin-top:10px;
				}
			}

		}
		.mois_container {
			position: relative;
			float: left;
			display:flex;
			justify-content: space-between;
			flex:1;

			@media (max-width: 767px) {
				background-color: $white;
				width: 100%;
				color: $main_text;
				border-bottom:1px solid $secondary_text;
			}
			.mois {
				position: relative;
				float: left;
				line-height: 70px;
				font-size: 18px;
				order:1;
				text-align: right;
				@media (max-width: 767px) {
					line-height: 50px;
					order: 2;
					text-align: center;
				}
			}

			.mois_prec, .mois_suiv {
				position: relative;
				float: left;
				@include border_radius(50%);
				border:1px solid $white;
				color: white;
				font-size: 30px;
				width: 40px;
				height: 40px;
				text-align: center;
				margin: 15px 0;

				@media (max-width: 767px) {
					margin: 5px 0;
					border:1px solid $secondary_text;
					width: 30px;
					height:30px;
					margin: 10px auto;
				}

				&:hover {
					text-decoration:none;
				}
			}

			.mois_suiv {
				background: url(../img/suiv.png) center no-repeat;
				background-size: 10px;
				order:3;
				@media (max-width: 767px) {
					order: 3;
					background: url(../img/suiv-black.png) center no-repeat;
					background-size: 10px;
				}

			}
			.mois_prec {
				background: url(../img/prec.png) center no-repeat;
				background-size: 10px;
				order:2;
				@media (max-width: 767px) {
					order: 1;
					background: url(../img/prec-black.png) center no-repeat;
					background-size: 10px
				}
			}
		}

		/* MON COMPTE */

		.account_tab {
			flex: 250px 0;
		    position: relative;
		    color: #ffffff;
		    text-align: center;
		    height: 50px;
		    vertical-align: middle;
		    margin-top: 20px;
		    font-size: 16px;

		    @media (max-width: 767px) {
		    	height: 35px;
		    	margin-top: 15px;
		    }

			&.active {

				&::after {
					position:absolute;
					bottom: 0;
					left: 0;
					height: 8px;
					background-color: $green;
					width: 100%;
					content: "";
				}
			}

		}



	}
}

.calendar_wrapper {
	position: relative;
	float: left;
	width: 100%;
	overflow: auto;
	height: calc(100% - 140px);

	@media (max-width: 767px) {
		-webkit-box-shadow:inset -5px 0 20px -9px rgba(0,0,0,0.7);
		box-shadow:inset -5px 0 20px -9px rgba(0,0,0,0.7);
		height: calc(100% - 176px);

	}

	.calendar_container {
		position: relative;
		display: flex;
		flex-direction: column;
		width: 100%;
		height: 100%;
		margin: 0 auto;

		@media (max-width: 767px) {
			overflow: auto;
			width: 130%;
		}

		.jours_container {
			position: relative;
			float: left;
			width:100%;
			height: 50px;
			background:$grey;
			flex: 1;
			@media (max-width: 767px) {
				width: 100%;
			}

			.jours {
				display: flex;
				position: relative;
				width: 100%;
				margin: 0 auto;
				height: 50px;
				background:$grey;

				.jour {
					position: relative;
					float: left;
					height: 50px;
					padding: 10px;
					text-align: center;
					border-right:1px solid $secondary_text;
					line-height: 30px;
					flex:70px;

					@media (max-width: 767px) {
						overflow: hidden;
						white-space: nowrap; /* Don't forget this one */
						text-overflow: ellipsis;
						flex: 16.66666667%;
					}

					&:last-child {
						border-right:none;
					}
				}
			}
		}

		.dates_container {
			position: relative;
			float: left;
			display: block;
			width: 100%;
			margin: 0 auto;
			min-height: 1px;
			flex: 16;
			@media (max-width: 767px) {
				width: 100%;
			}


			.dates {
				position: relative;
				display: flex;
				flex-flow: row wrap;
				width: 100%;
				height: 100%;
				margin: 0 auto;

				.case {
					position: relative;
					float: left;
					display: inline-block;
					border-top: 1px solid $secondary_text;
					border-right: 1px solid $secondary_text;
					cursor: pointer;
					flex:16.6666667%;
					align-items: center;

					@media (max-width: 767px) {
					}

					&.impair {
						background: $grey;
					}

					&.pair {
						background : $white;
					}

					&.no_border {
						border-right: none;
					}

					&.hide {
						display: none;
					}

					.resa1, .resaok {
						position: relative;
						float: left;
						display: flex;
						align-items: center;
						width: 100%;
						height: 100%;

						.date_jour {
							position: relative;
							width: 100%;
							text-align: center;
							line-height: 70px;
							color: $secondary_text;
							font-size: 18px;
							font-weight: bold;
						}

						.placeslibre {
							position: absolute;
							top: 0;
							right: 0;
							color: $white;
							text-align: right;
							width: 0;
							height: 0;
							border-style: solid;
							border-width: 0 40px 40px 0;
							border-color: transparent $dark_green transparent transparent;

							&.full {
								border-color: transparent $orange transparent transparent;
							}

							p {
								position: absolute;
								top: 5px;
								right: -30px;
								color: $white;
								font-size: 12px;
							}
						}
					}

					.resaok {
						background:$green;
						color: $white;

						p.nbrreserv {
							position: absolute;
							top: 10px;
							left: 10px;
							width: calc(100% - 10px);
							text-align: left;

							@media (max-width: 767px) {
								bottom :0px;
								top: auto;
							}
						}

						.date_jour {
							color: $white;
						}
					}
				}

			}
		}
	}
}

/* POPIN RESA */

.resa_popin {
	position: fixed;
	top: 0;
	right: -100%;
	height: 100%;
	width: 100%;
	max-width: 500px;
	background:$white;
	z-index: 20;
	display: flex;
	flex-direction: column;
	@extend .transitions;

	&.view {
		right:0;
		@extend .transitions;
	}

	.popin_head {
		flex: 70px;
		background: $green;
		color: $white;

		h3 {
			position: absolute;
			height: 50px;
			line-height: 50px;
			font-weight: 400;
			text-align: center;
			width: 100%;
			font-size: 16px;
		}

		.close_btn {
			position: relative;
			float: left;
			width: 70px;
			height: 70px;
			color: $white;
			cursor:pointer;
			z-index: 20;

			&:before {
				position:absolute;
				content:"";
				width: 40px;
				top: 40px;
				left: 30px;
				height: 2px;
				background: $white;
				transform: rotate(45deg);
			}
			&:after {
				position:absolute;
				content:"";
				width: 40px;
				top: 40px;
				left: 30px;
				height: 2px;
				background: $white;
				transform: rotate(-45deg);
			}
		}
	}

	.popin_body {
		flex: 40;
		background:$white;
		display: flex;
		flex-direction: column;

		.resa_libre_section {
			flex:1;
			border-bottom: 1px solid $grey;
			.resa_libre {
				position: relative;
				width: 70%;
				height: 50px;
				line-height: 38px;
				margin: 50px auto;
				background:$light_grey;
				border:1px solid $grey;
				padding: 5px;
				@include border_radius(40px);

				@media (max-width: 767px) {
					width: 80%;
				}

				.nbrlibre {
					position: relative;
					float: left;
					padding: 10px;
					background: $green;
					width: 40px;
					line-height: 20px;
					height:40px;
					text-align: center;
					margin-right: 15px;
					color: $white;
					font-weight: bold;
					@include border_radius(50%);
				}
			}
		}
		.resa_deja {
			flex:auto;
			border-bottom: 1px solid $grey;
			padding: 30px 40px;
			align-items: center;
			display: flex;
			background:$light_grey;
			justify-content: space-around;
			flex-direction: column;

			h4 {
				position: relative;
				float: left;
				width: 100%;
				font-size: 16px;
				font-weight: 400;
				text-align: center;
				flex:1 1 auto;
				margin: 0;

				span {
					color: $green;
					font-weight: bold;
				}
			}

			p.warning {
				width: 100%;
				text-align: center;
			}

			.bureau_resa {
			    flex: 1 1 auto;
			    position: relative;
			    height: 45px;
			    width: 80%;
			    display: flex;
			    background: #ffffff;
			    border: 1px solid #e5e5e5;
			    -webkit-border-radius: 40px;
			    border-radius: 40px;
			    padding: 10px 25px;
			    justify-content: space-around;
			    margin-bottom: 15px;
			    align-items: center;

				p {
					width: 50%;
					position: relative;
					float: left;
					text-align: left;
					margin: 0;
					line-height: 20px;
				}
				a {
					width: 50%;
					position: relative;
					float: left;
					text-align: right;
					line-height: 20px;
					color: $secondary_text;
					text-decoration: underline;
				}
			}
		}
		.nbrreserv {
			flex:1;
			border-bottom: 1px solid $grey;
			padding: 40px;
			align-items: center;
			display: flex;
			justify-content: space-around;

			p {
				position: relative;
				float: left;
				width: 50%;
				margin: 0;
				font-size: 16px;
				color: $main_text;

			}

			ul.selectnbr, ul.selectplace {
				position: relative;
				float: left;
				width: 40%;
				list-style: none;
				height: 40px;
				padding: 10px;
				overflow: hidden;
				line-height: 20px;
				cursor: pointer;
				background: $white;
				border:1px solid $secondary_text;
				@include border_radius(5px);

				&.open {
					height:auto;
				}

				span.selected {
					position: relative;
					float: left;
					width: 100%;
					height: 20px;
					color: $secondary_text;
					font-style: italic;
					font-size: 16px;
					&::after {
						position: absolute;
						top: -10px;
						right: 0;
						width: 40px;
						height: 40px;
						content:"";
						display: block;
						background: url(../img/dropdown.gif) center no-repeat;
						background-size: 20px;
					}
				}

				li {
					position: relative;
					float: left;
					width: 100%;
					display: inline-block;
					line-height: 40px;
				}
			}

		}
		.resa_valid {
			flex:4;
			background: $light_grey;
			padding: 50px 0;

			@media (max-width: 767px) {
			    flex: 0.1;
			    background: #f4f4f4;
			    padding: 20px 0;
			    align-items: center;
			}

			.cancel {
				position: relative;
				float: left;
				width: 50%;
				color: $secondary_text;
				text-decoration: underline;
				text-align: center;
				line-height: 40px;
			}

			.valider {
				position: relative;
				float: left;
				width: 100px;
				margin-left:calc(25% - 50px);
				background: $green;
				color: $white;
				border:none;
				outline: none;
				@include border_radius(20px);
				text-align: center;
				padding: 10px;
				line-height: 20px;
			}
		}

		/* MODIF COMPTE */
		.infos_popin {
			flex:1.5;
			flex-direction: column;
			border-bottom: 1px solid $grey;
			padding: 40px;
			align-items: center;
			display: flex;
			justify-content: center;

			h3, label, input {
				flex: 1;
				position: relative;
				width: 100%;
			}

			h3 {
				font-size: 18px;
				font-weight: bold;
				text-align: left;
				margin: 0;
				flex:30px 0;
				border-bottom: 1px solid $secondary_text;
				margin-bottom: 15px;
			}
			label {
				font-size: 14px;
				font-weight: normal;
				color:$main_text;
				margin:0;
				flex: 30px 0;
			}
			input {
				border: 1px solid $secondary_text;
				@include border_radius(5px);
				padding: 0 15px;
				flex: 40px 0;
				margin-bottom: 20px;
				min-height: 40px;
			}
		}

	}
}

.mask_popin {
	position: absolute;
	top: 0;
	left: 0;
	background:rgba(0,0,0,0.8);
	width: 100%;
	height:100%;
	z-index: 15;
	opacity: 0;
	pointer-events: none;
	@extend .transitions;

	&.view {
		opacity: 1;
		pointer-events: all;
		@extend .transitions;
	}
}


/* ACCOUNT */

.account_container {
	position: relative;
	display: flex;
	width: 100%;
	max-width: 1024px;
	margin: 0 auto;
	padding: 40px 0;
	flex-direction: column;

	@media (max-width: 1024px) {
		padding: 0 30px;
	}

	@media (max-width: 767px) {
		padding: 0 20px;
	}

	section {
		position: relative;
		display: flex;
		flex-direction: column;
		width: 100%;
		margin-bottom: 40px;

		.section_head {
			position: relative;
			display: flex;
			flex:1;
			flex-direction: row;
			padding-bottom: 8px;
			border-bottom: 1px solid $secondary_text;

			h3 {
				flex:1;
				text-align: left;
				margin: 0;
				font-weight: bold;
				font-size: 18px;
			}

			.modif {
				flex: 1;
				text-align: right;
				color: $dark_green;
				text-decoration: underline;
			}
		}

		.section_body {
			position: relative;
			display: flex;
			flex:1;
			flex-direction: row;
			width: 100%;
			flex-wrap: wrap;

			@media (max-width: 767px) {
				flex-direction: column;
			}

			.block_info {
				position: relative;
				display: flex;
				flex-direction: column;
				flex:50%;
				margin-top: 15px;

				.name_info {
					position: relative;
					flex: 1;
					text-align: left;
					color: $secondary_text;
					font-size: 12px;
					margin-bottom: 5px;
				}
				.value_info {
					position: relative;
					flex:1;
					text-align: left;
					color: $main_text;
					font-size: 16px;
				}
			}
		}
	}
}
